<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<title> Directory listing of: {{path}} </title>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Listing "{{path}}"</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-right form-horizontal" role="upload" action="" method="post" enctype=multipart/form-data>
					<div class="form-group">
						<label for="filename">Upload file</label>
						<input type="file" id="filename" name="filename"/>
						<input type="hidden" name="prev_path" value="{{path}}">
						<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
					</div>
					<button type="submit" class="btn btn-default">Upload</button>
				</form>
			</div>
		</div>
	</nav>



	<!-- <form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form> 

	<h1>Hello, world!</h1> -->
	<div class="container">
		<div class="row">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<ul>
				{% for category, message in messages %}
				<p class="bg-{{category}} col-md-6 col-md-offset-3 text-center"> {{message}} </p>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>	
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">Folders</h3> </div>
					<div class="panel-body">
						<div class="list-group">
							<a href="{{prev}}" class="list-group-item">..</a>
							{% for i in dirlist %}
							<a href="{{path}}/{{i}}" class="list-group-item {{ "active"  if i == active}} ">{{i}}</a>
							{% endfor %}
						</div>

					</div>
				</div>

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">Files</h3> </div>
					<div class="panel-body">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Filename</th>
									<th class="text-right">Size</th>
								</tr>
							</thead>
							<tbody>
								{% for name,size in filesinfo %}
								<tr>
									<td> <a href="{{path}}/{{name}}"> {{name}} </a> </td>
									<td class="text-right">{{size}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>	
					</div>
					<!--<div class="panel-body">
						{% for i in fileslist %}
						<a href="#" class="list-group-item"> {{i}} </a>
						{% endfor %}
					</div> -->
				</div>
			</div>
		</div>
	</div>

</body>
</html>