<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<title> GET - POST Messenger</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class = "col-md-6 col-md-offset-3">
				<br/>
				<form class="form-inline" role="sendmessage" action="" method="post">
					<div class="form-group">
						<input type="text" class="form-control" id="user" name="user" placeholder="Your Username">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="message" name="message" placeholder="Message">
					</div>
					<button type="submit" class="btn btn-default">Post</button>
				</form>
			</div>
		</div>

		<div class="row">
			<br/>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">Sent</h3> </div>
					<div class="panel-body">
						<ul class="list-group">
							{% for i in sent %}
							<li class="list-group-item">{{i['user']}}: {{i['message']}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">Received</h3> </div>
					<div class="panel-body">
						<ul class="list-group">
							<!-- <li>{{received}}</li> -->
							{% for i in received %}
							<li class="list-group-item">{{i['user']}}: {{i['message']}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	</body>
	</html>







